body {
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 800px;
  border-style: solid;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 25px;
}

.prompt {
  font-size: 18px;
}

.input {
  width: 120px;
  padding: 5px;
  margin: 10px;
}

.btn {
  padding: 5px, 10px;
  margin: 10px;
  font-size: 17px;
}

.message {
  font-size: 20px;
  font-weight: bold;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.main-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
}

.entry-container {
  display: flex;
  align-items: center;
  padding-left: 8px;
}
